.mainButton {
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.69px;
    font-family: var(--font-family);
    border-radius: 27px;
    width: 100%;
    transition: 0.5s ease;
}

.mainButton:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.circularProgress_center {
    display: flex;
    align-items: center;
    justify-content: center;
}