.signInOptions_apps {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.signInOptions_apps:hover > span {
    cursor: pointer;
    color: var(--text-color-navbar-main);
}

.signInOptions_apps > span {
    color: var(--text-color);
    font-size: 36px;
    transition: 0.2s ease;
}

.signInOptions_appMenu {
    background-color: var(--background-menu);
    position: absolute;
    padding: 1em;
    top: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 20px;
    margin: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .06),0 2px 10px 0 rgba(0,0,0, .2);
    border-radius: 0.5em;
    opacity: 0;
}

.signInOptions_appMenu > span {
    color: var(--text-color-navbar-main);
    margin: 0.5em 0;
    font-size: 14px;
    font-family: var(--font-family);
    letter-spacing: 1px;
}

.signInOptions_appMenu_noActive {
    display: none;
}

.signInOptions_appMenu_item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: var(--text-color);
    width: 250px;
    margin: 0.5em 0;
    padding: 1em 0;
    border-radius: 0.5em;
    justify-content: space-around;
    transition: 0.2s ease;
}

.signInOptions_appMenu_item > span {
    letter-spacing: 1px;
}

.signInOptions_appMenu_item:hover {
    background-color: var(--background-menu-overItem);
    cursor: pointer;
    color: var(--text-color-navbar-main);
}