.footer_legalInformation {
    display: flex;
    font-family: var(--font-family);
    align-items: center;
    justify-content: space-around;
    min-height: 60px;
    background-color: #0f0f0f;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 13px;
}

.footer_legalInformation > span {
    cursor: default;
}

.footer_legalInformation > a {
    transition: 0.2s ease;
}
  
.footer_legalInformation > a:hover {
    color: #ffffff;
}

@media(max-width: 700px) {
    .footer_legalInformation {
      flex-direction: column;
      min-height: 150px;
    }
  
    .footer_legalInformation > a {
      margin: 1em;
    }
}