.sign {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-weight: 600;
}

.sign_header {
    background-color: var(--background-navbar);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

.sign_section {
    display: flex;
    flex: 1;
}

.header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo:hover {
    cursor: pointer;
}


.sign_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign_footer_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: var(--background-navbar);
}

.sign_footer_contact > a {
    color: var(--text-color);
    font-family: var(--font-family);
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.sign_footer_contact > a:hover {
    color: var(--text-color-navbar-main);
}