.layoutModalCard {
    display: flex;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    border-radius: 2em;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
}

.layoutModalCard_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0 2em;
    border-bottom: 1px solid var(--text-color-main);
}

.layoutModalCard_header > h4 {
    font-weight: 600;
    color: var(--text-color-main);
    font-size: 20px;
}

.layoutModalCard_header > span {
    color: var(--text-color);
    font-size: 36px;
    transition: 0.2s ease;
}

.layoutModalCard_header > span:hover {
    color: var(--text-color-main);
    cursor: pointer;
}

.layoutModalCard_footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1em 3em;
    border-top: 1px solid var(--text-color-main);
}

.layoutModalCard_footer_button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
}

.layoutModalCard_footer_button {
    display: flex;
    align-items: center;
    border-radius: 3em;
    justify-content: center;
}