.layoutR3D {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: var(--font-family);
}

.layoutR3D_header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background-color: var(--background-navbar);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.layoutR3D_relativeContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 70px;
    flex: 1;
}

.layoutR3D_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}