.layoutModal_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

.layoutModal_background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.layoutModal_card_container {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5em;
}