.deleteAddressWarning {
    background-color: var(--background-color-white);
    border-radius: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.deleteAddressWarning_header {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color-main);
}

.deleteAddressWarning_header > h4 {
    letter-spacing: 1px;
    color: var(--text-color-main);
    font-size: 20px;
    font-weight: 600;
}

.deleteAddressWarning_header > span {
    color: var(--text-color);
    font-size: 36px;
    transition: 0.2s ease;
}

.deleteAddressWarning_header > span:hover {
    color: var(--text-color-main);
    cursor: pointer;
}

.deleteAddressWarning_warningMessage {
    display: flex;
    justify-content: flex-start;
    padding: 1em 2em;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 2em;

}

.deleteAddressWarning_warningMessage > p {
    color: var(--text-color-main);
    letter-spacing: 1px;
    font-size: 14px;
}

.deleteAddressWarning_footer {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteAddressWarning_footer_actionButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.deleteAddressWarning_deleteButton {
    background-color: var(--error-color);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5em 3em;
    border: none;
    outline: none;
    border-radius: 3em;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-family: var(--font-family);
}

.deleteButton_circularProgress {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteAddressWarning_cancelButton {
    background-color: var(--background-color-grey);
    color: var(--text-color-main);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5em 3em;
    border: none;
    outline: none;
    border-radius: 3em;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    font-family: var(--font-family);
}

.deleteAddressWarning_deleteButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.deleteAddressWarning_cancelButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}

@media (max-width: 540px) {
    .deleteAddressWarning_footer_actionButtons {
        flex-direction: column-reverse;
        gap: 1.5em;
        align-items: center;
    }
}