.editProfileBackgroundImage_preView_overFlow {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.editProfileBackgroundImage_preView_container {
    display: grid;
    gap: 2em;
    align-items: center;
    padding: 2em 1em;
}

.editProfileBackgroundImage_preView_container > span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--text-color-main);
}

.editProfileBackgroundImage_preView {
    position: relative;
    width: 100%;
    height: 150px;
}

.editProfileImage_preViewImage_button {
    display: flex;
    align-items: center;
    justify-content: center;
}