.editProfileImage_preViewImage_overFlow {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.editProfileImage_preViewImage_container {
    display: grid;
    gap: 2em;
    justify-items: center;
    align-items: center;
    padding: 2em 1em;
}

.editProfileImage_preViewImage_container > span {
    color: var(--text-color-main);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.editProfileImage_preViewImage {
    position: relative;
    width: 250px;
    height: 250px;
}

.editProfileImage_preViewImage_rounded {
    border-radius: 50%;
}

.editProfileImage_preViewImage_button {
    display: flex;
    align-items: center;
    justify-content: center;
}