.profileAddressForm_formSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    padding: 1em;
}

.profileAddressForm_form {
    display: flex;
    max-width: 600px;
    width: 100%;
    padding: 2em 0;
    justify-content: center;
}

.profileAddressForm_form_inputs {
    display: grid;
    gap: 2.3em;
    max-width: 350px;
    width: 100%;
}
