.chooseNewProfile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    padding: 4em 1em;
    font-family: var(--font-family);
    transition: 0.5s ease;
}

.chooseNewProfile > h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--text-color-main);
    padding: 0 0.5em;
}

@media (min-width: 960px) {
    .chooseNewProfile {
        margin-top: 3em;
    }
}

@media (min-width: 1024px) {
    .chooseNewProfile {
        margin-top: 0;
    }
}