.profilesMovil_profiles {
    display: none;
    gap: 2em;
    padding: 0.5em 0;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 960px) {
    .profilesMovil_profiles {
        grid-template-columns: 1fr;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .profilesMovil_profiles {
        display: grid;
    }
}