.uploadImageProfile {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 100%;
    font-family: var(--font-family);
    transition: 0.5s ease;
    padding: 4em 1em;
}

.uploadImageProfile_description {
    display: flex;
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3em;
}

.uploadImageProfile_description> h2 {
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    color: var(--text-color-main);
    letter-spacing: 1px;
}

.uploadImageProfile_description > p {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--text-color-main);
    text-align: center;
}

.uploadImageProfile_description > span {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}

.uploadImageProfile_preView {
    position: relative;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 2em 0;
    border-radius: 50%;
    border: 0.3em solid var(--main-color);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    transition: 0.2s ease;
}

.uploadImageProfile_preView:hover {
    box-shadow: 0 0 6px 0 var(--main-color);
    cursor: pointer;
}


.uploadImageProfile_preView > span {
    color: var(--main-color);
    z-index: 1;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400px;
}

.uploadImageProfile_preView_rounded {
    border-radius: 50%;
}

.uploadImageProfile_preView_accept {
    display: flex;
    align-items: center;
    max-width: 95px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
}

.uploadImageProfile_preView_accept:hover {
    cursor: pointer;
}

.uploadImageProfile_preView_accept > svg {
    fill: var(--main-color);
    border-radius: 50%;
    transition: 0.2s ease;
}

.uploadImageProfile_preView_accept > span {
    color: var(--main-color);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
}

.uploadImageProfile_preView_accept:hover > svg {
    box-shadow: 0 0 6px 0 var(--main-color);
}