.navbarStudio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 550px;
    width: 100%;
}

.navbarStudio_link {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
    transition: 0.2s ease;
}

.navbarStudio_link:hover {
    cursor: pointer;
    color: var(--text-color-main);
}

.navbarStudio_linkActive {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color: var(--text-color-main);
    transition: 0.2s ease;
}

.navbarStudio_linkActive:hover {
    cursor: pointer;
}

