.selectTable {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.selectTable > p {
    color: var(--text-color-main);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    margin: 2em 1em;
}

.selectTable_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5em;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 3em;
}

.selectTable_form_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 300px;
    width: 100%;
}

.selectTable_form_label {
    display: flex;
    padding: 0.5em 2em;
    width: 100%;
    border: 3px solid #f7f7f7;
    border-radius: 3em;
    color: var(--text-color);
    transition: 0.2s ease;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
}

.selectTable_form_label:hover {
    color: var(--text-color-main);
    cursor: pointer;
    background-color: #f7f7f7;
}

.selectTable_form_labelActive {
    display: flex;
    padding: 0.5em 2em;
    width: 100%;
    border: 3px solid var(--text-color);
    border-radius: 3em;
    color: var(--text-color-main);
    transition: 0.2s ease;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    background-color: #f7f7f7;
}

.selectTable_form_labelActive:hover {
    cursor: pointer;
}