.loadingFeedback {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.loadingFeedback_logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}