.signInForm {
    display: grid;
    gap: 2em;
    width: 100%;
    max-width: 300px;
}

.links_accountOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3em;
}

.link {
    text-decoration: underline;
    color: #f57c00;
    font-family: var(--font-family);
    font-size: 12px;
}

.errorMessage {
    color: var(--error-color);
    font-family: var(--font-family);
    font-size: 14px;
    text-align: center;
}

.signInForm_button {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}