.forgotPassword_container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2em 1em;
    background-color: var(--background-sign);
}

.forgotPassword_particles {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.forgotPassword_card {
    background-color: var(--form-color);
    max-width: 450px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    position: relative;
    padding: 1em;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.forgotPassword_card_grid > h4 {
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 4.95px;
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.forgotPassword_card_grid {
    display: grid;
    gap: 2em;
    max-width: 300px;
    width: 100%;
}

.forgotPassword_card_grid > p {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;
    color: var(--text-color);
}

.forgotPassword_card_form {
    display: grid;
    align-items: center;
    gap: 2em;
}

.forgotPassword_card_grid > a {
    font-family: var(--font-family);
    font-size: 13px;
    color: var(--input-on-focus);
    text-decoration: underline;
    text-align: center;
}