.container {
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family);
}

.header {
  background-color: var(--background-navbar);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 2;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.slogan_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.slogan_container > h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  letter-spacing: 0.78px;
  font-size: 20px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0.5em 0;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  color: var(--text-color-navbar-main);
}

.slogan {
  position: relative;
  margin: 0 1em;
}

.aboutR3d_container {
  display: flex;
  align-items: center;
  margin: 6em 0.5em;
  justify-content: center;
}

.aboutR3d_container_grid {
  display: grid;
  gap: 2em;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
    "title title"
    "text img"
    "text img"
  ;
  padding: 1em;
  width: 100%;
}

.aboutR3d_container_grid_title {
  display: flex;
  grid-area: title;
  flex-direction: column;
  border-bottom: 2px solid var(--text-color-main);
  padding-bottom: 1em;
}

.aboutR3d_container_grid_title > h1 {
  font-family: var(--font-family);
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--text-color-main);
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.aboutR3d_container_img {
  grid-area: img;
  position: relative;
  width:  100%;
}

.aboutR3d_container_grid_text {
  display: flex;
  justify-content: center;
  grid-area: text;
  flex-direction: column;
  color: var(--text-color);
  font-size: 15px;
  max-width: 600px;
  font-weight: 400;
  letter-spacing: 1px;
}

.aboutR3d_container_grid_text_focus {
  color: var(--main-color);
}

.aboutR3d_container_grid_text_question {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.6em 0;
}

.aboutR3d_container_grid_text_question > p {
  margin: 0.2em 0;
}

.sectionToJoinUs {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 16%);
}

.sectionToJoinUs_description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  margin: 2em 0.5em;
}

.sectionToJoinUs_description > a {
  padding: 0.5em 1em;
  background-color: var(--main-color);
  color: var(--text-color-navbar-main);
  border-radius: 20px;
  max-width: 200px;
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  transition: 0.2s ease;
  letter-spacing: 1px;
  font-weight: 600;
}

.sectionToJoinUs_description > a:hover {
  transform: scale(1.03);
}

.sectionToJoinUs_description > p {
  font-size: 20px;
  color: var(--text-color-main);
  letter-spacing: 1px;
  text-align: center;
  font-weight: 600;
}

.makers_container {
  display: flex;
  justify-content: center;
  margin: 5em 0.5em;
  align-items: center;
}

.makers_subContainer {
  display: flex;
  font-family: var(--font-family);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1em;
  max-width: 1200px;
  width: 100%;
}

.makers_subContainer > h1 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: var(--text-color-main);
  border-bottom: 2px solid;
  padding-bottom: 0.5em;
  text-align: center;
  font-weight: 600;
}

.makers_container_card1 {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  background-color: var(--background-color-grey);
  justify-content: space-between;
  margin: 3em 0;
  transition: 0.5s ease;
  border-radius: 3em;
  padding: 1em 0;
}

.makers_container_card2 {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  background-color: var(--background-color-grey);
  justify-content: space-between;
  margin: 3em 0;
  transition: 0.5s ease;
  border-radius: 3em;
  padding: 1em 0;
}

.makers_container_card1:hover {
  cursor: pointer;
  transform: scale(1.03);
  
}

.makers_container_card1:hover > .makers_container_card_inf > .makers_container_card_inf_mainIdea > p {
  text-decoration: underline;
}

.makers_container_card2:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.makers_container_card2:hover > .makers_container_card_inf > .makers_container_card_inf_mainIdea > p {
  text-decoration: underline;
}

.makers_container_card_img {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.makers_container_card_inf {
  display: flex;
  flex: 0.5;
  margin: 0 5em;
  height: 250px;
  justify-content: center;
  flex-direction: column;
}

.makers_container_card_inf > h3 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--main-color);
}

.makers_container_card_inf_mainIdea {
  font-size: 25px;
  color: var(--text-color-main);
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0;
  padding-right: 0.5em;
}

.makers_container_card_inf_mainIdea > p {
  margin: 0;
  padding-right: 0.5em;
}

.makers_container_card_inf_description {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.footer_backTop {
  display: flex;
  background-color: var(--background-footer-secondary);
  height: 60px;
  justify-content: center;
  align-items: center;
}

.footer_backTop > a {
  color: var(--text-color);
  text-align: center;
  text-decoration: underline;
  transition: 0.2s ease;
  letter-spacing: 1px;
}

.footer_backTop > a:hover {
  cursor: pointer;
  color: #ffffff;
}

@media(max-width: 700px) {
  .slogan_container > h1 {
    font-size: 16px;
  }
}

@media(max-width: 730px) {
  .makers_container > h1 {
    font-size: 1.5rem;
  }

  .makers_container_card1 {
    flex-direction: column;
  }

  .makers_container_card2 {
    flex-direction: column-reverse;
  }

  .makers_container_card_inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em 1em
  }

  .makers_container_card_img {
    flex: none;
    width: 100%;
  }

  .aboutR3d_container > h1 {
    font-size: 1.5rem;
  }

  .aboutR3d_container_grid_title > h1 {
    font-size: 1.5rem;
  }

  .aboutR3d_container {
    margin: 2em 0.5em;
  }
}

@media(max-width:1024px) {
  .aboutR3d_container_grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "title"
      "img"
      "text"
    ;
  }

  .aboutR3d_container_img {
    height: 300px;
  }

  .aboutR3d_container_grid_text {
    max-width: none;
  }
}