.ourProcess_development {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1em;
    flex: 1;
    justify-content: space-around;
}
  
.ourProcess_development_card {
    display: grid;
    gap: 2em;
    max-width: 400px;
    width: 100%;
    justify-items: center;
    padding: 2em 0;
    height: 500px;
    background-color: #ffffff;
    margin: 1em 0;
    border-radius: 3em;
    color: var(--text-color);
    transition: 0.5s ease;
}

.ourProcess_development_card:hover {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.16);
}

.arrowToSlide {
    display: none;
}

.ourProcess_development_card > h2 {
    cursor: default;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--text-color-main);
    font-weight: 600;
}

.ourProcess_development_card_p2 {
    margin: 0 6em;
}
  
.ourProcess_development_card > p {
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    cursor: default;
    text-align: center;
    font-weight: 400;
}
  
.ourProcess_development_card > a {
    color: var(--main-color);
    text-align: center;
    margin-top: 2em;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
}

@media(max-width: 920px) {
    .ourProcess_development {
        justify-content: unset;
    }
    .ourProcess_development_card {
        min-width: 100%;
        overflow: hidden;
        transition: 0.5s ease;
        border-radius: 0;
        box-shadow: none;
    }

    .ourProcess_development_card:hover {
        box-shadow: none;
    }

    .arrowToSlide {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-color);
        transition: 0.2s ease;
    }
}