.sidebarSignOutMenu {
    display: grid;
    margin-top: 3em;
    justify-items: center;
    gap: 2em;
    font-weight: 600;
}

.sidebarSignOutMenu_link {
    color: var(--text-color);
    transition: 0.2s ease;
    font-size: 14px;
    letter-spacing: 1px;
}

.sidebarSignOutMenu_link:hover {
    color: var(--text-color-navbar-main);
}

.sidebarSignOutMenu_buttons {
    display: grid;
    margin-top: 3em;
    justify-items: center;
    gap: 2em;
    font-weight: 600;
}

.sidebarSignOutMenu_buttons_signIn {
    outline: none;
    border: 1px solid var(--text-color);
    background: none;
    color: var(--text-color);
    padding: 0.5em 1em;
    font-size: 14px;
    font-family: var(--font-family);
    border-radius: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.2s ease;
}
  
.sidebarSignOutMenu_buttons_signIn:hover {
    color: var(--text-color-navbar-main);
    border-color: var(--text-color-navbar-main);
    cursor: pointer;
}
  
.sidebarSignOutMenu_buttons_signUp {
    outline: none;
    background-color: var(--text-color-navbar-main);
    color: var(--background-navbar);
    font-family: var(--font-family);
    padding: 0.5em 1em;
    border: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 20px;
    transition: 0.2s ease
}
  
.sidebarSignOutMenu_buttons_signUp:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #ffffff;
}