.successSnackbar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    background-color: var(--success-color);
    color: #ffffff;
    font-family: var(--font-family);
    font-size: 13px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    letter-spacing: normal;
}

.errorSnackbar {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5em;
    background-color: var(--error-color);
    color: #ffffff;
    font-family: var(--font-family);
    font-size: 13px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    letter-spacing: normal;
}