.resetPassword_error {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetPassword_error > span {
    font-size: 64px;
    text-align: center;
    color: var(--error-color);
    margin-top: 0.5em;
}

.resetPassword_error > p {
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--text-color);
}

.resetPassword_error_newEmail {
    font-size: 13px;
    text-align: center;
    color: var(--input-on-focus);
    text-decoration: underline;
}

.support {
    color: var(--text-color-main);
    text-decoration: underline;
    text-align: center;
}