.resetPassword_card_grid_done {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resetPassword_card_grid_done > span {
    font-size: 64px;
    color: var(--success-color);
    text-align: center;
    margin-top: 0.5em;
}

.resetPassword_card_grid_done > p {
    color: var(--text-color);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.resetPassword_card_grid_done > a {
    margin-top: 2em;
    font-size: 20px;
    padding: 0.5em 1em;
    background-color: var(--main-color);
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    border-radius: 2em;
    transition: 0.5s ease;
}

.resetPassword_card_grid_done > a:hover {
    transform: scale(1.03);
}