html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


:root {
  --primary-color: #4d54fe;
  --secondary-color: #111727;
  --third-color: #00e7df;
  --fourth-color: #1a0e92;
  --last-color: #060a0f;
  --primary-text-color: #fafafa;
  --secondary-text-color: #adbdcc;
  --outline-card-color: #0e131f;
  --card-color: #1e2938;
  --outline-button-color: #1e2938;
  --primary-button-color: #4d54fe;
  --primary-button-color-hover: #4346e9;
  --font-family: 'Roboto Mono', monospace;
}